<footer class="page-footer">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h3><a href="#">dvdStores</a></h3>
                <p>Pour les passionnées de film</p>
            </div>
            <div>
                <h3>Suivez-nous</h3>
                <div class="text-center">
                    <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-lg"></i></a>
                    <a href="https://www.twitter.com"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="https://www.youtube.com"><i class="fab fa-youtube fa-lg"></i></a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            © {{ "now"|date("Y") }} Copyright dvdStores
        </div>
    </div>
</footer>